footer.footer
      .footer__logo-box
        img.footer__logo(src="/img/logos/CIC PICTURES_W_R.png" alt="footer-logo")
      .row
        .col-1-of-2.upperFooter
          .footer__navigation
            ul.footer__list
              li.footer__item
                a.footer__link(href="/refund-policy") Refund Policy
              li.footer__item
                a.footer__link(href="/privacy-policy") Privacy policy
              li.footer__item
                a.footer__link(href="/contact-us") Contact Us
              li.footer__item
                a.footer__link(href="/careers") Careers
              li.footer__item
                a.footer__link(href="/terms") Terms
        .col-1-of-2
          .footer__linkUpperContainer
            p.footer__copyright
              a.footer__link(href="https://bit.ly/2HbCGye") © 2020 CIC Pictures Private Limited
            .footer__linksContainer
              ul.footer__link--list
                li.footer__link--listItem
                  a.ion-social-facebook-outline.footer__link.link--icon(href="https://bit.ly/2Dr2dOR")
                li.footer__link--listItem
                  a.ion-social-twitter-outline.footer__link.link--icon(href="https://twitter.com/CicPictures")
                li.footer__link--listItem
                  a.ion-social-instagram-outline.footer__link.link--icon(href="https://www.instagram.com/cicpictures/")