header.header
      .navigation
        nav.navigation__nav
          .row.navigation__row
            .navigation__logoBox
              img.navigation__logo(src="./img/logos/CIC PICTURES_R.png" alt="Cic-Logo")
              
            label.navLabelPhone(for="nav__checkbox")
              i.ion-navicon-round.iconNavCheckBox.iconNavCheckBox--on
              i.ion-close-round.iconNavCheckBox.iconNavCheckBox--off.displayCheckBox
            .navigation__list--forMobile.displayForNavigationMobile
              ul.navigation__listPhone
                if user
                    li.navigation__item
                      img.nav-user-image(src="/img/author/default.jpg" alt="User Image")
                      a.navigation__link.nav-user-name(href='#')= `${user.name.split(' ')[0]}`
                    li.navigation__item
                      i.ion-log-out.iconNav
                      a(class="navigation__link nav-user-logout" href="logout" id='logoutButton') Logout
                else
                    li.navigation__item
                      i.ion-log-in.iconNav
                      a.navigation__link(href='/login' id='loginButton') Login
                li.navigation__item
                  i.ion-ios-home-outline.iconNav
                  a.navigation__link(href='/') Home
                li.navigation__item
                  i.ion-ios-people-outline.iconNav
                  a.navigation__link(href="/directors") About Us
                li.navigation__item
                  i.ion-ios-albums-outline.iconNav
                  a.navigation__link(href="/music") Music
                li.navigation__item
                  i.ion-ios-book-outline.iconNav
                  a.navigation__link(href='/blogs') Blogs
            if user
              .nav--loginBox
                img.nav-user-image(src="/img/author/default.jpg" alt="User Image")
                a.navigation__link.nav-user-name(href='#')= `${user.name.split(' ')[0]}`
              .nav--loginBox
                 a(class="navigation__link nav-user-logout" href='logout' id='logoutButton') Logout
            else
              .nav--loginBox
                a.navigation__link(href='/login' id='loginButton') Login
            ul.navigation__list.displayForNavigation
              li.navigation__item
                a.navigation__link(href='/') Home
              li.navigation__item
                a.navigation__link(href="directors") About Us
              li.navigation__item
                a.navigation__link(href="/music") Music
              li.navigation__item
                a.navigation__link(href='/blogs') Blogs
              
      .header__bgImgBox
        block imageForBlocks
          img.header__bgImg.displayBgImage--up600(src="/img/hero-image/Banner Website.jpg" alt="")
          img.header__bgImg.displayBgImage--down600(src="/img/hero-image/Banner-Website-1x2x.png" alt="")
      block overlays
  
      .header__blocks
        .row.rowForBlocks
          .col-1-of-4
             a.block_links(href='/signup')
              .feature-box#signup
                i.feature-box__icon.ion-ios-mic-outline
                h3.heading-tertiary.u-margin-bottom-small.displayProperty
                  | Join Now
          .col-1-of-4
            a.block_links(href='/directors')
              .feature-box#director
                  i.feature-box__icon.ion-ios-people-outline
                  h3.heading-tertiary.u-margin-bottom-small.displayProperty
                    | Board Of Directors
          .col-1-of-4
            a.block_links(href='/ask')
              .feature-box#ask
                i.feature-box__icon.ion-help
                h3.heading-tertiary.u-margin-bottom-small.displayProperty
                  | Ask Your Query
          .col-1-of-4
            a.block_links(href='/location')
              .feature-box#location
                i.feature-box__icon.ion-ios-navigate-outline
                h3.heading-tertiary.u-margin-bottom-small.displayProperty
                  | Location