extends baseBlog

block append head
  link(href='/css/error.css' rel='stylesheet')

block content
  main.main
    section.section-err
      .error
      .error__title
      h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!  
      h2.error__emoji 😢 🤯
      .error__msg= msg