extends base

block append head
  link(href='/css/policy.css' rel='stylesheet')

block imageForBlocks
        img.header__bgImg.displayBgImage--up600(src="/img/hero-image/hero-policy.png", alt="")
        img.header__bgImg.displayBgImage--down600(src="/img/hero-image/hero-directors-1x2x.png" alt="")

block overlays
    .header__bgImgBox--overlay &nbsp;
    .header__bgImgBox--text
        .row
            h1 Refund Policy

block content 
    section.section-privacyPolicy
      .row
        h1 Refunds Policy
        h2 RETURNS
        p
          | Since we deal in online songs and it's a digital service, we don't offer a return. We request you to listen our sample audio, available for every song. You can also watch our youtube channel videos to get to know about the quality of our videos. In simple terms, WE DON'T EXCEPT RETURN AT CICPICTURES.COM
        h2 REFUNDS (if applicable)
        p
          | We don't accept refund request Late or missing refunds (if applicable) Because of digital goods and services, we don't accept refund requests, please contact us at nitishkr2285@gmail.com
        h2 SALE ITEMS (if applicable)
        p Unfortunately, sale items cannot be refunded.
        h2 EXCHANGES (if applicable)
        p
          | Since every song is in itself a valuable property, we don't take exchange requests too.
        h2 GIFTS
        p As of now, we don't have any feature of gifting a song
        h2 SHIPPING
        p On our website, everything is online. We don't provide a CD or DVD.
        h2 We keep our pricing very transparent and honest.
